:root {
    --headings-color: #000435;
    --main-button-color: #131312;
    --blue-color: #7CAFC2;
    --button-hover-color: #4B7280;
    --font-size: 0.8em;
    --login-width-size: 380px;
    --font: Arial, sans-serif;
}

body {
    font-family: Arial, sans-serif;
    /* Change to desired font family */
}

/* Override Bootstrap's default font size */
body {
    font-size: 16px;
    /* Change to desired font size */
}

/* Optionally, override font size for specific elements */
h1,
h2,
h3 {
    font-weight: bold;
    font-size: 24px;
    /* Change heading font size */
}

p {
    font-size: 14px;
    /* Change paragraph font size */
}

/* --buttons-------------------------------------------------------------------------------------------------------------------------- */

.btn {
    cursor: pointer;
    text-align: center;
    font-size: var(--font-size);
    padding: 10px;
}

#delete {
    border: 1px solid black;
}

#delete,
#add {
    border-radius: 20px;
}

.close-btn {
    background: none;
    border: none;
    width: 30px;
    height: 30px;
    font-size: 15px;
}

.save {
    background-color: var(--main-button-color);
    color: white;
    border: none;
}

.cancel-save-buttons {
    position: absolute;
    bottom: 50px;
    right: 10px;
}

.cancel-save-buttons button {
    border: none;
    width: 80px;
}

.save {
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
}

.add-delete {
    display: flex;
    justify-content: space-between;
}

.add,
.delete {
    border: none;
    font-size: var(--font-size);
    width: 85px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add {
    border-radius: 20px;
    background-color: var(--main-button-color);
}

.delete {
    background-color: white;
}

.add,
.add__icon,
.add__text,
.delete,
.delete__icon,
.delete__text {
    transition: all 0.3s;
}

.add .add__text {
    color: #fff;
}

.delete .delete__text {
    color: black;
}

.add .add__icon,
.delete .delete__icon {
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.add .add__icon {
    color: white;
}

.delete .delete__icon {
    color: black;
}

.add__icon,
.add .font-awesome-icon {
    stroke: #fff;
}

.add:hover {
    background: green;
}

.delete:hover {
    background: red;
}

.add:hover .add__text,
.delete:hover .delete__text {
    color: transparent;
}

.delete:hover .delete__icon {
    color: white;
    transform: translateX(-22px);
}

.add:hover .add__icon {
    transform: translateX(-15px);
}

/* --pages--------------------------------------------------------- */
.pages {
    /* margin-top: 150px; */
    padding-left: 40px;
    text-align: left;
    padding-right: 15px;
    z-index: 0;
    transition: margin-left 0.5s;
    height: 100vh;
}

.title {
    margin-top: 40px;
    width: fit-content;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1;
    /* border-radius: 10px; */
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.5);
}

.header-style {
    display: flex;
    justify-content: space-between;
}

/* Media query for screens with a minimum width of 1200px */
@media (min-width: 820px) and (min-height: 360px) {
    .pages {
        margin-left: 190px;
        /* Adjusted margin for larger screens */
    }

    .pageName {
        margin-left: 360px;
    }
}

/* --wording boxes---------------------------------------------------- */
.status-container {
    background: rgb(254, 219, 46);
    border-radius: 30px;
    padding: 8px;
}

.type-container {
    background: rgb(254, 239, 142);
    border-radius: 30px;
    padding: 8px;
}


/* --table container------------------------------------------------------ */
.table-container {
    max-height: 30em;
    /* Adjust the height as needed */
    overflow-y: auto;
    border-radius: 10px;
}

.table-container thead {
    position: sticky;
    top: 0;
    z-index: 1;
}

.table-container tbody tr:hover {
    border: 2px solid black;
}

.click-hover {
    background-color: none;
    padding: 10px;
}

.click-hover:hover {
    background-color: rgb(233, 232, 232);
    border-radius: 5px;
}

.table {
    font-size: var(--font-size);
    border-top: 1px solid lightgrey;
}

.table th {
    text-align: center;
    vertical-align: middle;
    background-color: #f2f2f2;
}

.table td {
    text-align: center;
    border-left: none;
    border-right: none;
}

.disabled-row {
    background: rgb(233, 232, 232);
    color: darkgrey;
}

.disabled-row .status-container {
    /* background: darkgrey; */
    /* color: white; */
    background: rgb(233, 232, 232);
    color: darkgrey;
}

/* --message-button-------------------------------------------------------------- */
.message-container {
    margin-top: 10px;
    position: absolute;
    top: 5%;
    right: 5%;
}

#message {
    background-color: white;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    border: 1px solid lightgrey;
}

#message:hover {
    background: lightgrey;
}

/* --filter input-------------------------------------------------------------------------------------- */
.filter-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
}

.filter {
    display: flex;
    /* flex-direction: column; */
    font-size: var(--font-size);
    border: 2px solid grey;
    border-radius: 5px;
    padding: 5px;
    margin-right: 5px;
}

.filter select {
    border: none;
}

.submit-button {
    display: none;
}


/* --sorting ------------------------------------------------------------------------------------------------------ */
.sorting{
    display: flex;
    justify-content: center;
}

.sorting .switch {
    display: none;
  }
  
  .sorting .switch + label {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: #78768d;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-family: var(--font);
    font-size: var(--font-size);
    line-height: 15px;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .sorting .switch + label::before,
    .sorting .switch + label::after {
    content: '';
    display: block;
  }
  
  .sorting .switch + label::before {
    background-color: #05012c;
    border-radius: 500px;
    height: 15px;
    margin-right: 8px;
    -webkit-transition: background-color 0.125s ease-out;
    transition: background-color 0.125s ease-out;
    width: 25px;
  }
  
  .sorting .switch + label::after {
    background-color: #fff;
    border-radius: 13px;
    box-shadow: 0 3px 1px 0 rgba(37, 34, 71, 0.05), 0 2px 2px 0 rgba(37, 34, 71, 0.1), 0 3px 3px 0 rgba(37, 34, 71, 0.05);
    height: 13px;
    left: 1px;
    position: absolute;
    top: 3px;
    -webkit-transition: -webkit-transform 0.125s ease-out;
    transition: -webkit-transform 0.125s ease-out;
    transition: transform 0.125s ease-out;
    transition: transform 0.125s ease-out, -webkit-transform 0.125s ease-out;
    width: 13px;
  }
  
  .sorting .switch + label .switch-x-text {
    display: block;
    margin-right: .3em;
  }
  
  .sorting .switch + label .switch-x-toggletext {
    display: block;
    height: 20px;
    overflow: hidden;
    position: relative;
    width: 40px;
  }
  
  .sorting .switch + label .switch-x-unchecked,
    .sorting .switch + label .switch-x-checked {
    left: 0;
    position: absolute;
    top: 0;
    -webkit-transition: opacity 0.125s ease-out, -webkit-transform 0.125s ease-out;
    transition: opacity 0.125s ease-out, -webkit-transform 0.125s ease-out;
    transition: transform 0.125s ease-out, opacity 0.125s ease-out;
    transition: transform 0.125s ease-out, opacity 0.125s ease-out, -webkit-transform 0.125s ease-out;
  }
  
  .sorting .switch + label .switch-x-unchecked {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
  
  .sorting .switch + label .switch-x-checked {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  
  .sorting .switch + label .switch-x-hiddenlabel {
    position: absolute;
    visibility: hidden;
  }
  
  .sorting .switch:checked + label::before {
    background-color: #ffb500;
  }
  
  .sorting .switch:checked + label::after {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
  
  .sorting .switch:checked + label .switch-x-unchecked {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  
  .sorting .switch:checked + label .switch-x-checked {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }