<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>GRP Team202310</title>
  </head>
  <body>
    <div class="title">
        <h1>GRP Team202310</h1>
    </div>
    <div class="info">
        <h2>
            Team name: E.A.S.Y
        </h2>
        <h3>
            Project: Web-Based-Tug-Boat-Scheduling-System
        </h3>
        <h4>
            supervisor: Dr. Zheng Lu (zheng.lu@nottingham.edu.cn)
        </h4>
        {% if memberlist %}
        <h4>
            Team members:
        </h4>
        <ul>
            {% for member in memberlist %}
            <li><member class="name">
                <h5>name: {{ member.name }}</h5>
                <h5>email: {{ member.email }}</h5>
                <h5>student id: {{ member.id }}</h5>
            </member></li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
  </body>
</html>