:root {
    --headings-color: #000435;
    --main-button-color: #131312;
    --blue-color: #7CAFC2;
    --button-hover-color: #4B7280;
    --font-size: 0.8em;
    --login-width-size: 380px;
}

body {
    font-family: Arial, sans-serif; /* Change to desired font family */
}

/* Override Bootstrap's default font size */
body {
    font-size: 16px; /* Change to desired font size */
}

/* Optionally, override font size for specific elements */
h1, h2, h3 {
    font-weight: bold;
    font-size: 24px; /* Change heading font size */
}

p {
    font-size: 14px; /* Change paragraph font size */
}
/* button {
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
    font-size: var(--font-size);
    padding: 10px;
    background: white;
} */

.btn{
    cursor: pointer;
    text-align: center;
    font-size: var(--font-size);
    padding: 10px;
}

#delete{
    border: 1px solid black;
}

#delete, #add{
    border-radius: 20px;
}

.close-btn{
    background: none;
    border: none;
    width: 30px;
    height: 30px;
    font-size: 15px;
}

.save {
    background-color: var(--main-button-color);
    color: white;
    border: none;
}

.cancel-save-buttons {
    position: absolute;
    bottom: 50px;
    right: 10px;
}

.cancel-save-buttons button {
    border: none;
    width: 80px;
}

.save {
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
}

/* --pages--------------------------------------------------------- */
.pages {
    /* margin-top: 150px; */
    padding-left: 40px;
    text-align: left;
    padding-right: 15px;
    z-index: 0;
    transition: margin-left 0.5s;
    height: 100vh;
}

.title {
    margin-top: 40px;
    width: fit-content;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1;
    /* border-radius: 10px; */
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.5); 
}

.header-style {
    display: flex;
    justify-content: space-between;
}

/* Media query for screens with a minimum width of 1200px */
@media (min-width: 820px) and (min-height: 360px) {
    .pages {
        margin-left: 190px; /* Adjusted margin for larger screens */
    }
    .pageName {
        margin-left: 360px;
    }
}

/* --wording boxes---------------------------------------------------- */
.status-container{
    background: rgb(254, 219, 46);
    color: white;
    border-radius: 30px;
    padding: 8px;
}

.type-container{
    background: rgb(254, 239, 142);
    color: rgb(154, 126, 0);
    border-radius: 30px;
    padding: 8px;
}


/* --table container------------------------------------------------------ */
.table-container{
    max-height: 30em; /* Adjust the height as needed */
    overflow-y: auto;
}

.table-container thead {
    position: sticky;
    top: 0;
    z-index: 1;
}

/* --Work table----------------------------------------------------------- */
.work-table table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    font-size: var(--font-size);
}

.work-table th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 15px;
}

.work-table th {
    /* background-color: #f2f2f2; */
    background-color: #edebeb;
    /* background-color: #242f33; */
    /* background-color: rgba(0, 0, 0, 0.137); */
    /* opacity: 0.8; */
    /* color: white; */
}

.work-table td {
    text-align: center;
}

.disabled-row {
    background: rgb(233, 232, 232);
    color: darkgrey;
}

.disabled-row .status-container {
    /* background: darkgrey; */
    /* color: white; */
    background: rgb(233, 232, 232);
    color: darkgrey;
}

/* --message-button-------------------------------------------------------------- */
.message-container {
    margin-top: 10px;
    position: absolute;
    top: 5%;
    right: 5%;
}

#message {
    background-color: white;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    border: 1px solid lightgrey;
}

#message:hover{
    background: lightgrey;
}

/* --filter input-------------------------------------------------------------------------------------- */
.filter-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
}
.filter{
    display: flex;
    /* flex-direction: column; */
    font-size: var(--font-size);
    border: 2px solid grey;
    border-radius: 5px;
    padding: 5px;
    margin-right: 5px;
}

.filter select{
    border: none;
}

.submit-button {
    display: none;
}